# Maven
target/
!.mvn/wrapper/mvnw
!.mvn/wrapper/mvnw.cmd

# IDEs
.vscode/
.idea/
*.iml
*.classpath
*.project
*.settings/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Build files
*.jar
*.war
*.ear

# Hibernate
hibernate.cfg.xml
hibernate.properties

# Local environment files
.env
